.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 9px;
    padding: 0px 20px;
}

header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    border-bottom: 1px gray dashed;
    border-radius: 99px;
}

main {
    margin-top: 20px;
}

.add-song {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
        font-family: 'JetBrains Mono', monospace;
        margin-right: 5px;
    }

    select {
        font-family: 'JetBrains Mono', monospace;
        margin-right: 5px;
    }

    button {
        font-family: 'JetBrains Mono', monospace;
        color: white;
        background-color: rgb(3, 184, 3);
    }
}

.buttonsbar {
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;

    label {
        margin-right: 5px;
    }

    select {
        font-family: 'JetBrains Mono', monospace;
        margin-left: 5px;
    }

    .filters {
        margin-left: 50px;
        margin-right: 50px;

        input {
            margin-left: 10px;
        }
    }

    button {
        font-family: 'JetBrains Mono', monospace;
        color: black;
    }
}

.playlist-container {
    border-top: 1px gray dashed;
    border-bottom: 1px gray dashed;
    border-radius: 99px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    margin-left: 120px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th {
    text-align: start;
    padding-bottom: 15px;
    text-decoration: overline;
}

tr {
    text-align: start;
    font-size: small;

    &:nth-child(even) {
        background-color: rgb(77, 76, 76);
    }
}

td {
    border: none;
}

a {
    color: white;
    text-decoration: none;
}